.core-mix .core-container {
  margin-top: 20px;
  .main-area {
    overflow: hidden; min-height: 100px;
    box-shadow: 0 -2px 6px 0 #eee;
  }
  .main-slide { 
    float: right; width: 240px; margin-left: 20px;
  }
}